// MIEJSCE NA CZCIONKE


.jumbotron{
	
	 color: #fff;
	background-image: url('http://dummyimage.com/1280x720/7c7c7d/ffffff&text=Simple+Image');
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
	background-size:  cover;
	height: 100vh;
    width: 100%;
	
	}

#me{
    
   }
#technology{
	
}

#works{
	
	background-color: green;
}

#end{
	height: 200px;
	background-color: black;
}
.tab-big{
	height: 60vh;
	border: 2px solid green;

}

.tab-small{
	border: 2px solid blue;
	height: 30vh;
	
}

.tab-smallest{

	border: 2px solid blue;
	height: 15vh;
	width: 100%;

}
.circle{
	width: 150px;
	height: 150px;
	background-color: grey;
	display: inline-block;
	padding: 10px;
}